---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/hello/">Post 1</a></li>
    </ul>
</BaseLayout>
