---
const platform = "github";
const username = "Isaac Fei";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }

    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>

<footer>
    <p>
        You are welcome to visit my
        <a href="https://github.com/Isaac-Fate">GitHub</a>.
    </p>
</footer>
